<div class="center hero-unit">

  <h1>❀五反田ランチマップ❀</h1>

  <h2>
    なんのリンクに貼り直すかは未定
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    lunch_map application.
  </h2>

  <%= link_to "ログイン", signin_path, class: "btn btn-large btn-primary" %>
  <%= link_to "ユーザー新規登録", signup_path, class: "btn btn-large btn-primary" %>
  <br>

  <%= link_to "お店を見る", restaurants_path, class: "btn btn-large btn-primary" %>
  <%= link_to "お店を新規登録", signup2_path, class: "btn btn-large btn-primary" %>

</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

