<% provide(:title, 'All restaurants') %>
<h1>登録店舗一覧</h1>

<h2>店舗検索</h2>

<%# form_for の代わりに search_form_for を使うことで検索フォームを作成 %>
<%= search_form_for @q do |f| %>

  <%# start 特定の文字列で始まる商品名で検索 %>
  <%= f.label :name_cont, "店舗名" %>
  <%= f.search_field :name_cont %>
  <div>
    <%# 検索ボタン %>
    <%= f.submit %>
  </div>

  <%# ジャンルで検索 %>
  <%= f.label :genres_name_eq, 'ジャンル (和食、洋食、中華、定食屋、焼き肉、海鮮、丼もの、麺類)' %>
  <%= f.text_field :genres_name_eq %>
  <div>
    <%= f.submit 'ジャンルで検索する' %>
  </div>
<% end %>

<hr>

<ul class="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant %>
    </li>
  <% end %>
</ul>
