<% provide(:title, '店舗登録') %>
<h1>店舗登録ページ</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@restaurant) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :photo %>
      <%= f.file_field :photo %>

      <%= f.label :comment %>
      <%= f.text_field :comment,  class: "input-mysize" %>
      <p>
     ※ このお店のイチオシ料理についてひとこと！
      </p>
      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :address %>
      <%= f.text_field :address %>
      <br>
      <%= f.collection_check_boxes :genres, Genre.all, :id, :name %>
      </div>


    <!--
     <INPUT type="checkbox" name="restaurant[genre][]" value="0"> 和食
      <INPUT type="checkbox" name="genre[]" value="1"> 洋食
      <INPUT type="checkbox" name="genre[]" value="2"> 中華
      <INPUT type="checkbox" name="genre[]" value="3"> フレンチ
      <INPUT type="checkbox" name="genre[]" value="4"> 定食屋
      <INPUT type="checkbox" name="genre[]" value="5"> 焼き肉
      <INPUT type="checkbox" name="genre[]" value="6"> 海鮮
      <INPUT type="checkbox" name="genre[]" value="7"> カレー
      <INPUT type="checkbox" name="genre[]" value="8">お好み焼き・もんじゃ
      <INPUT type="checkbox" name="genre[]" value="9"> うどん・そば
      <INPUT type="checkbox" name="genre[]" value="10"> カフェ
      <INPUT type="checkbox" name="genre[]" value="11"> スイーツ
      -->
      <br>

      <%= f.submit "新規登録", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
