<%= provide(:title, @restaurant.name) %>
<div class="row">
  <aside class="span4">
  <section>
  <h2>詳細情報</h2>
  <p>

  店舗名:<%= @restaurant.name %>
  <br>
  店舗画像
  <br>
  <!--- Modelのstyleで指定した :midium など渡すことでサイズを指定できる -->
  <%= image_tag @restaurant.photo.url(:medium) %>
  イチオシポイント:<%= @restaurant.comment %>
  <br>
  電話番号:<%= @restaurant.phone %>
  <br>
  住所:<%= @restaurant.address %>
  </p>
  <br>
  ジャンル:
  <% @restaurant.genres.each do |g| %>
    <li><%= g.name if g.name.present?%></li>
  <% end %>
  </p>

  <div id="map_canvas" style="width:500px; height:300px"></div>
  </section>
  </aside>
</div>
